BasedOnStyle: LLVM

ColumnLimit: 160
PointerAlignment: Left
BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
IndentWidth: 4
TabWidth: 4
IndentPPDirectives: BeforeHash
